---
import Layout from '../layouts/BaseLayout.astro';
import { getCollection, render } from 'astro:content';
const imprint = await getCollection('imprint');
const inprintContent = imprint[0];
const { Content } = await render(inprintContent);
---

<Layout title="Impressum" noindex={true}>
  <section class="py-16">
    <div class="mx-auto max-w-4xl px-4">
      <h1 class="text-4xl font-bold mb-8 text-white">Impressum</h1>
      <div class="prose prose-invert max-w-none">
        <Content />
      </div>
    </div>
  </section>
</Layout>
